{{ define "main" }}
{{/* Hero Section */}}
<section class="hero teamSect d-flex justify-content-center align-items-center position-relative"
         style="background: radial-gradient(#063053e5, #062e52e5), url('/images/essentials/aboutBg.png');">
    <h1 class="inter-700 text-48 text-white text-center z-4">{{ .Title | markdownify }}</h1>
    <div class="position-absolute ellipses">
        <img src="/images/essentials/ellipses.png" alt="" class="ellipseW">
    </div>
</section>
{{/* End Hero Section */}}

{{/* Community Section */}}
{{ with .Params.community_section }}
{{ if .enable }}
<section class="section bg-dark-100">
    <div class="container-lg">
        <h3 class="inter-700 text-40 dark-900 mb-3">{{ .title | markdownify }}</h3>
        <p class="inter-400 text-16 dark-700 lh-base">{{ .content | markdownify }}</p>
        <div class="row g-4 justify-content-center pt-4">
            {{ range .boxes }}
            <a href=" {{ .url }}" class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="bg-white h-100 rounded-3 p-4 shadow-sm">
                    <div class="d-flex flex-column row-gap-4">
                        <img src="{{ .image }}" alt="" width="40">
                        <div class="">
                            <h5 class="inter-700 text-18 dark-900 mb-2">{{ .title | markdownify }}</h5>
                            <p class="inter-400 text-14 dark-700">{{ .content | markdownify }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{/* End Community Section */}}

{{/*  Form Section  */}}
{{ with .Params.live_chat }}
{{ if .enable }}
<section class="bg-white section">
    <div class="container-lg">
        <div class="text-center col-md-6 mx-auto">
            <h3 class="inter-700 text-40 dark-900 mb-3">{{ .title | markdownify }}</h3>
            <p class="inter-400 text-16 dark-700 lh-base">{{ .content | markdownify }}</p>
        </div>
        <div class="row col-lg-10 col-xl-7 py-4 justify-content-between mx-auto gy-5">
            {{ range .boxes }}
            <div class="col-sm-6 col-md-4">
                <a {{ if eq .title "Number" }} href='tel:{{.link}}' {{ end }} {{ if eq .title "Email Contact" }} href='mailto:{{.link}}' {{ end }}
                class="nav-link">
                    <div class="rounded-3 shadow-sm p-3 h-100">
                        <div class="mx-auto text-center d-flex flex-column justify-content-center align-items-center">
                            <div>
                                <img src="{{ .icon }}" alt="" width="100">
                            </div>
                            <div>
                                <p class="inter-400 lighter text-14 mb-2">{{ .title | markdownify }}</p>
                                <p class="inter-600 dark-900 text-16 mb-0 contactP">{{ .content | markdownify }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{/*  End Form Section  */}}
{{ end }}