{{ define "main" }}
{{/* Hero Section */}}
<section class="hero teamSect d-flex justify-content-center align-items-center position-relative" style="background: radial-gradient(#063053e5, #062e52e5), url('{{ .Params.bg_image }}');">
  <div class="col-md-8">
    <h1 class="inter-700 text-48 text-white text-center z-4">{{ .Title | markdownify }}</h1>
  </div>
</section>
{{/* End Hero Section */}}

{{/*  Main Section  */}}
<section class="section bg-dark-100">
  <div class="container-lg">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="bg-white p-4 rounded-3 shadow-sm">
          {{ if .Params.image }}
          <div class="mb-4">
            <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-fluid rounded-3 w-100">
          </div>
          {{ end }}
          
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <a href="/events/" class="btn btn-primary">
        <i class="fas fa-arrow-left me-2"></i>Back to All Events
      </a>
    </div>
  </div>
</section>
{{/*  End Main Section  */}}
{{ end }}
