
<div class="well">
<h1>News</h1>

<h3>Aug. 2019 Issue of the NWB:N Newsletter</h3>
<h4>August 12, 2019</h4>

A new issue of our NWB:N newsletter is now available online <a href="https://mailchi.mp/49a33d0ef48e/nwbn-newsletter-aug-2019?e=e527807b8d" target="_blank">here</a>.

<h3>Report of the 6th NWB:N User and Developer Days</h3>
<h4>June 7, 2019</h4>

The final report of the 6th NWB:N Developer Hackathon and User Days is now available online (<a href="https://github.com/NeurodataWithoutBorders/nwb_hackathons/raw/master/HCK06_2019_Janelia/report/Report___6th_NWB_N_Hackathon.pdf" target="_blank">PDF</a>)(<a href="https://github.com/NeurodataWithoutBorders/nwb_hackathons/tree/master/HCK06_2019_Janelia/report/sources" target="_blank">LaTeX</a>).

<h3>NWB:N User and Developer Days</h3>
<h4>May 17, 2019</h4>
Thank you to all our amazing users and developers! The User and Developer Days were a great success. We had 42 attendees from ~29 different major institutions working together on 29+ different projects. We have seen many new tools, datasets, and success stories. See the <a href="https://neurodatawithoutborders.github.io/nwb_hackathons/HCK06_2019_Janelia/" target="_top">event website</a> for details.

<h3>NWB:N 2.0 Released</h3>
<h4>Jan. 18, 2019</h4>
We are excited to announce the full release of Neurodata Without Borders: Neurophysiology version 2.0 (NWB:N 2.0). With NWB:N 2.0 we have made significant advances towards creating a usable standard, software ecosystem, and vibrant community for standardizing neurophysiology data. With <a href="https://neurodatawithoutborders.github.io/pynwb">PyNWB</a> and <a href="https://neurodatawithoutborders.github.io/matnwbemb">MatNWB</a> this release also includes advanced NWB:N-compliant data APIs for both Python and Matlab. For further details please see our <a href=https://neurodatawithoutborders.github.io/news#nwb2release">full news release</a>

<h4><a href="{{ site.url }}{{ site.baseurl }}/news.html">... see all News</a></h4>

</div>
