{{ define "main" }}
    {{/* Hero Section */}}
<section class="hero d-flex justify-content-center align-items-center position-relative bg-main overflow-hidden"
style="background:linear-gradient(to right, #1f4e75, #152f45);">
<div class="container-xl justify-content-between pt-5 mx-md-0 z-1">
  <div class="row justify-content-md-between align-items-center gx-xl-5">
    <div class="col-md-4 px-md-0">
      <img src="{{ .Params.hero_image }}" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 px-md-0 pt-4 pt-md-0">
      <div class="d-flex flex-column row-gap-3">
        <h1 class="inter-700 text-70 text-white mb-0">{{ .Title | markdownify }}</h1>
        <p class="inter-400 text-24 dark-200 mb-0">{{ .Params.subtitle | markdownify }}</p>
        <p class="inter-500 text-36 text-white mb-0">{{ .Date | time.Format "January,2006" }}</p>
      </div>
    </div>
  </div>
  <div class="position-absolute eventsEllipses">
    <img src="/images/essentials/ellipses.png" alt="" class="ellipseW">
  </div>
</div>
<div class="position-absolute end-0 bottom-0">
  <img src="/images/essentials/eventsHero.png" alt="" width="300">
</div>
<div class="position-absolute start-0">
  <img src="/images/essentials/eventsHeroL.png" alt="" class="opacity-25">
</div>
</section>
{{/* End Hero Section */}}

{{/* Insights Section */}}
{{ with .Params.insight_section }}
{{ if .enable }}
<section class="section">
  <div class="container-lg">
    <div class="pb-5">
      <div class="">
          {{ with .list_title }}
          <h3 class="inter-700 dark-900 text-48-responsive mb-3">{{ . | markdownify }}</h3>
          {{ end }}
          <ul>
            {{ range .insights }}
            {{ $link := replaceRE " " "" .title }}
            <li class="inter-400 text-24 second"><a href="#{{ $link }}" class="nav-link">{{ .title | markdownify }}</a></li>
            {{ end }}
          </ul>
        </div>
    </div>
    {{ with .title }}
    <div class="my-5">
      <h3 class="inter-700 dark-900 text-48-responsive">{{ . | markdownify }}</h3>
    </div>
    {{ end }}

    {{ with .insights }}
    {{ range . }}
    {{ $link := replaceRE " " "" .title }}
    <div class="mt-5" id="{{ $link }}">
      {{ with .title }}
      <h4 class="inter-700 text-36 dark-900 border-bottom border-2 pb-3">{{ . | markdownify }}</h4>
      {{ end }}
      <div class="pt-3 insightsLi inter-400 text-16 dark-700 softwareSectA">
        {{ with .subtitle }}
        <p class="inter-600 text-16 dark-700 softwareSectA">{{ . | markdownify }}</p>
        {{ end }}
        {{ with .content }}
        <p class="inter-400 text-16 dark-700 softwareSectA">{{ . | markdownify }}</p>
        {{ end }}
        {{ with .pdf }}
        <div class="ratio ratio-1x1">
          <object data="{{ . }}" type="application/pdf">
            <p>404! Check file's path!</p>
          </object>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>
{{/* End Insights Section */}}
{{ end }}
{{ end }}

{{/*  Discalimer  */}}
{{ with .Params.discalimer }}
{{ if .enable }}
<section class="section bg-dark-100">
  <div class="container-lg">
    <div>
      <h3 class="inter-700 dark-900 text-48-responsive mb-5">Disclaimer</h3>
      <p class="inter-400 text-16 dark-700 softwareSectA">{{ .content | markdownify }}</p>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{/*  End Discalimer  */}}

{{ end }}
