{{ define "main" }}
{{/* Hero Section */}}
<section class="hero teamSect d-flex justify-content-center align-items-center position-relative" style="background: radial-gradient(#063053e5, #062e52e5), url('/images/essentials/aboutBg.png');">
    <h1 class="inter-700 text-48 text-white text-center z-4">{{ .Title | markdownify }}</h1>
    <div class="position-absolute ellipses">
        <img src="/images/essentials/ellipses.png" alt="" class="ellipseW">
    </div>
</section>
{{/* End Hero Section */}}

{{/* Tool Content Section */}}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
{{/* End Tool Content Section */}}
{{ end }}
