{{ define "main" }}
{{/* Hero Section */}}
<section class="hero teamSect d-flex justify-content-center align-items-center position-relative"
    style="background: radial-gradient(#063053e5, #062e52e5), url('/images/essentials/aboutBg.png');">
    <h1 class="inter-700 text-48 text-white text-center z-4">{{ .Title | markdownify }}</h1>
    <div class="position-absolute ellipses">
        <img src="/images/essentials/ellipses.png" alt="" class="ellipseW">
    </div>
</section>
{{/* End Hero Section */}}

{{/* NIH Sponsered Project Section */}}
{{ with .Params.sponsered_projects }}
{{ if .enable }}
<section class="section">
    <div class="container-lg pt-5">
        {{ range $i, $p := .boxes }}
        <div
            class="row g-4 justify-content-center justify-content-md-between {{ if not (modBool $i 2) }}flex-row-reverse{{ end }} {{ if eq $i 0 }}mt-0{{ else }}mt-5{{ end }}">
            <div class="col-sm-10 col-md-6">
                <h4 class="inter-600 text-32 dark-900 pb-3">{{ .title | markdownify }}</h4>
                <p class="inter-400 text-16 dark-700">{{ .content | markdownify }}</p>
            </div>
            <div class="col-sm-10 col-md-5">
                <img src="{{ .image }}" alt="" class="img-fluid rounded-3">
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{/* End NIH Sponsered Project Section */}}

{{/* Sponsered Projects Section */}}
<section class="section bg-dark-100">
    <div class="container-lg">
        {{ with .Params.intro_section }}
        {{ if .enable }}
        <h3 class="inter-700 text-48 dark-900 mb-5">{{ .title | markdownify }}</h3>
        <div>
            <h4 class="inter-500 text-24 dark-900">{{ .subtitle | markdownify }}</h4>
            <p class="inter-400 text-16 dark-700 softwareSectA">{{ .content | markdownify }}</p>
        </div>
        <p class="inter-600 text-16 dark-900 my-5">{{ .sponsers_title | markdownify }}</p>
        {{ end }}
        {{ end }}
        <div class="row justify-content-center justify-content-md-between">
            <div class="d-none d-md-flex flex-column row-gap-2" style="width: 102px;">
                {{ range .Params.sponsers }}
                <a href="#{{ .year }}"
                    class="border border-dark-50 py-2 bg-white rounded-3 text-center nav-link animate">
                    <span class="lighter animate inter-600 text-16">{{ .year }}</span>
                </a>
                {{ end }}
            </div>

            <div class="col-sm-10 col-md-10 d-flex flex-column row-gap-5">
                {{ range .Params.sponsers }}
                <div id="{{ .year }}">
                    <div class="d-inline-block mb-4">
                        <li class="second dateLi"><span
                                class="bg-white inter-500 text-16 blue px-2 rounded-3 negMargin border border-dark-50">{{ .year
                                }}</span></li>
                    </div>
                    <div class="d-flex flex-column row-gap-2">
                        {{ range $index, $params := .boxes }}
                        <div class="bg-white rounded-3 p-3 customPadii {{ if gt $index 6 }}d-none{{ end }} box shadow-sm"
                            data-index="{{ $index }}">
                            <li class="myLi">
                                <span class="text-16 inter-400 dark-700 negMargin">
                                    {{ range $i, $p := $params.sponser_name }}
                                    {{ if eq $i 0 }}
                                    <a
                                        class="inter-700 blue link-offset-2 animate">{{$p.name|markdownify}}</a>
                                    {{ else }}, and
                                    <a class="inter-700 blue link-offset-2 animate">
                                        {{$p.name|markdownify}}
                                    </a>
                                    {{ end }}
                                    {{ end }}
                                    {{ with .institute }},
                                    <span class="inter-500">{{.}}</span>
                                    {{ end }}
                                    {{ with .location }}, <span class="inter-500">{{.}}</span>
                                    {{ end }}
                                </span>
                            </li>
                            {{ with $params.content }}
                            <div class="customPadii">
                                <i class="italic-400 text-14 dark-500 softwareSectA">{{ . | markdownify }}</i>
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ if gt (len .boxes) 7 }}
                        <div class="d-flex">
                            <div class="d-flex justify-content-start customPadii">
                                <a href="javascript:void(0);" id="show-more-box"
                                    class="btn btn-primary-outline second border-transparent scale animate d-flex justify-content-center align-items-center gap-2 inter-500">
                                    <span>Show More</span>
                                    <img src="/images/essentials/double-down-arrow.png" width="9">
                                </a>
                            </div>
                            <div class="d-flex justify-content-start customPadii d-none">
                                <a href="javascript:void(0);" id="show-less-box"
                                    class="btn btn-primary-outline second border-transparent scale animate d-flex justify-content-center align-items-center gap-2 inter-500">
                                    <span>Show Less</span>
                                    <img src="/images/essentials/double-down-arrow.png" width="9" class="rotatedIcon">
                                </a>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{/* End Sponsered Projects Section */}}

{{/* Past Projects Section */}}
{{ with .Params.past_projects_section }}
{{ if .enable }}
<section class="section bg-dark-100">
    <h3 class="inter-700 text-48 dark-900 text-center mb-5">Past Projects</h3>

    <div class="container-lg">
        <div class="row gy-5 mx-0">
            {{ range $i, $p := .projects }}
            <div>
                <div class="rounded-3 bg-white p-2 p-sm-5 shadow-sm">
                    <div
                        class="row justify-content-center justify-content-md-between {{ if not (modBool $i 2) }}flex-row-reverse{{ end }}">
                        <div class="col-sm-10 col-md-5 mb-4 mb-md-0">
                            <img src="{{ .image }}" alt="" class="img-fluid rounded-3">
                        </div>
                        <div class="col-sm-10 col-md-6">
                            <h4 class="inter-600 text-32 dark-900 mb-4">{{ .title | markdownify }}</h4>
                            <p class="inter-400 text-16 dark-700 softwareSectA">{{ .content | markdownify }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

{{ with .Params.boxes }}
{{ if .enable }}
<div class="section bg-sky">
    <div class="container-lg">
        <div class="row g-5 justify-content-center justify-content-md-between">
            {{ range .box }}
            <div class="col-sm-8 col-md-6 h-100">
                <div class="rounded-3 p-2 p-sm-4 bg-white shadow-sm">
                    <div>
                        <h4 class="inter-600 text-36 dark-900 mb-3">{{ .title | markdownify }}</h4>
                        <p class="inter-400 text-16 dark-700">{{ .content | markdownify }}</p>
                    </div>
                    <div class="pt-3">
                        <img src="{{ .image }}" alt="" class="img-fluid rounded-3">
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}
{{/* End Past Projects Section */}}
{{ end }}