<div class="tool-grid">
  {{ $category := .Get "category" }}
  {{ range where .Site.RegularPages "Section" "tools" }}
    {{ if eq .Params.category $category }}
    <div class="tool-card" style="display: flex; flex-direction: column;">
      {{ if .Params.image }}
      <div class="tool-image">
        <img src="{{ .Params.image }}" alt="{{ .Title }}" />
      </div>
      {{ end }}
      <div class="tool-content" style="display: flex; flex-direction: column; flex-grow: 1;">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <div style="flex-grow: 1;">{{ .Params.description }}</div>
        <div style="margin-top: auto; padding-top: 1rem;">
          <div class="tool-links" style="display: flex; align-items: center; gap: 0.5rem;">
            {{ if .Params.source_url }}
            <a href="{{ .Params.source_url }}" class="btn btn-primary" style="display: flex; align-items: center;" target="_blank">Source</a>
            {{ end }}
            {{ if .Params.docs_url }}
            <a href="{{ .Params.docs_url }}" class="btn btn-primary" style="display: flex; align-items: center;" target="_blank">Docs</a>
            {{ end }}
          </div>
          <a href="{{ .RelPermalink }}" class="btn btn-main text-18 yellow bg-transparent border-transparent inter-400 scale animate p-0 border-0">
            Learn More →
          </a>
        </div>
      </div>
    </div>
    {{ end }}
  {{ end }}
</div>
